@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,500,600|Space+Mono');

$downloadModalRadius: 20px;

#downloadModal {
  @include media-breakpoint-up(md) {
    max-width: 80vw;
  }
  max-width: 20vw;
  .modal-content {
    border: none !important;
    border-radius: ($downloadModalRadius + 5) !important;
  }
  .modal-header,
  .modal-footer {
    display: none;
  }
}

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

#app {
  font-family: 'Raleway', 'sans-serif' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.page-background {
  min-height: 100vh;
  width: 100%;
}

.nav-padding {
  min-height: 10vh;
}

.flexible-item {
  margin: 0 auto; //flex: 1 1 16%;
}

.page-header {
  min-height: 10vh;
  background-size: cover !important;
  background-position: 0% 50% !important;
  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 60vh;
    height: 60vh;
    width: 100vw;
  }
  &.page-hero-greyscale {
    filter: grayscale(100%);
  }
  &.page-hero {
    overflow-y: hidden;
    min-width: 100%;
    min-height: 60vh;
    height: 60vh;
    transition: min-height 0.5s linear;
    background: #777;
  }
}

// TODO This has to apply globally.
.sponsor-tier-background {
  .sponsor-tiers {
    background-color: #454545;
  }

  .sponsor-table table th {
    border-top: none;
  }

  .sponsor-table {
    padding: 0 0.8rem;
    background-color: #454545;
    border: 1px solid #454545;

    .checkmark {
      width: 3rem;
      height: 2.5rem;
      margin-left: 2.5em;
      margin-top: 0.25em;

      path {
        fill: #ffffff;
        stroke: #ffffff;
      }

      &.bronze-checkmark path {
        fill: #deaf81;
        stroke: #deaf81;
      }
      &.silver-checkmark path {
        fill: #d3d3d3;
        stroke: #d3d3d3;
      }
      &.gold-checkmark path {
        fill: #f2e588;
        stroke: #f2e588;
      }
    }
  }
}
