@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

#app {
  font-family: 'PT Sans', 'sans-serif' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.page-background {
  min-height: 100vh;
  width: 100%;
}

.nav-padding {
  min-height: 10vh;
}

.flexible-item {
  flex: 1 1 16%;
}

.apply-page {
  .apply-pills {
    .card-header {
      background-color: transparent;
      border-bottom: none;

      li a {
        background-color: transparent;
        color: black;
        font-weight: bold;

        &.active {
          border-bottom: 2px solid black;
          border-radius: 0px;
        }
      }
    }
  }

  .apply-row {
    border-left: 3px solid black;
  }
}

.text-header {
  
}